

#sign_in_form_container {
	position: relative;
	flex-flow: row wrap;
	justify-content: center;
	top: 20%;
	width: 60%;
	text-align: center;
}

#sign_in_form{
	position:relative;
	height:100%;
	width:100%;
	display: inline-block;
}

#sign_in_form > *{
	position:relative;
	margin:auto;
	margin-bottom: 3%;
}

#register_form_container {
	position: relative;
	flex-flow: row wrap;
	justify-content: center;
	top: 20%;
	width: 60%;
	text-align: center;
}

#register_form{
	position:relative;
	height:100%;
	width:100%;
	display: inline-block;
}

#register_form > *{
	position:relative;
	margin:auto;
	margin-bottom: 3%;
}