#introduction_text {
    position: relative;
    width: 70%;
    height:35%;
    top: 5%;
    left: 15%;
}

#introduction_text > p{
    height:50%;
    width:100%;
    overflow:auto

}
#username{
    position:relative;
    text-align: center;

}
#upload_form {
    top:15%;
    position: relative;
    text-align: center;

}