{% extends "base_sidebar.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('ts_decomposition_bp.static',filename='styles/sequencing.css')}}">
<script src="{{url_for('ts_decomposition_bp.static',filename='scripts/decomposition.js')}}"></script>
{% endblock %}

{%block content%}

<h3 class="page_title">  Decomposition </h3>

    <div class="flex" id="draw_residuals">
        <form id="make_csv_residuals_form">
            {{residuals_form.csrf_token}}
            {{residuals_form.function.label  (class_="label")}}
            {{residuals_form.function ( class_="input error_unclickable")}}
            {{residuals_form.submit (class_="button_standard error_unclickable")}}

            <p id=trend_file_made_feedback_text></p>

        </form>


    </div>

    <div class="autocorrelation_holder flex" id="image_holder_residuals">
        <div class="autocorrelation" id="plot_before">
        </div>
        <div class="autocorrelation" id="plot_after">
        </div>
    </div>
    <error-dialogue class="dialogue-element hidden" id="make_stationary_csv_error" dialogue_name="Error" delete_function=delete_dialogue_error(this) message_id="error_making_residual_csv">
    </error-dialogue>


{%endblock%}