<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/base_sidebar.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/standards.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="top">
    <ul id="navbar-ul">
      <li class="navbar-li"><a class="navbar-a" href="/">Home</a></li>
      <li class="navbar-li"><a class="navbar-a" href="/display_ts">Display TS</a></li>
      <li class="navbar-li"><a class="navbar-a" href="/calculations">Calculations</a></li>
      <li class="navbar-li"><a class="navbar-a" href="/granger_causality">Granger Causality</a></li>

    </ul>
  </div>

  <div class=side-bar>

    <div id="data-directory-list">
      <h3> Datasets </h3>
      <ul>
        {%for file in files%}
        <li>
          <form id="file_list_and_delete" method="post">
            {% if session.dataset and file == session.dataset %}
            <input class="file_display"  id="chosen_button" type=submit name=ts_file value={{file}}>
            {%else%}
            <input class="file_display" type=submit name=ts_file value={{file}}>
            {%endif%}
            <button id=delete_file name=delete_file value={{file}}>X</button>

          </form>
        </li>
        {%endfor %}
      </ul>
    </div>



    <div id="ts-column-list">
      {% if session.dataset%}
      <h3>{{session.dataset.get_file_name()}}</h3>
      {% else %}
      <h3> columns</h3>
      {% endif %}
      {% if session.ts_columns%}
      <ul>
        {%for column in session.ts_columns%}
        <li>
          <form method = "POST">
            {% if session.selected_column and column == session.selected_column %}
            <button value="{{column}}" class=column_button id=chosen_button name=column_button>{{column}}</button>
            {% else%}
            <button value="{{column}}" class=column_button id={{column}} name=column_button>{{column}}</button>

            {% endif %}
          </form>
        </li>
        {%endfor%}
      </ul>
      {% endif %}
    </div>
  </div>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>