<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/base_sidebar.css')}}">
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/standards.css')}}">
        {% block head %}
        {% endblock %}
    </head>
<body>
<div class="top">
    <ul id="navbar-ul">
        <li class="navbar-li"><a class="navbar-a" href="/">Home</a></li>
        <li class="navbar-li"><a class="navbar-a" href="/display_ts">Display TS</a></li>
        <li class="navbar-li"><a class="navbar-a" href="/calculations">Calculations</a></li>
    </ul>
</div>

<div class = side-bar>

    <div id="data-directory-list">
      <ul>
      {%for file in files%}
        <li>  
          <form id="file_list_and_delete" method="post">
            <input id="file_display" type=submit name=ts_file value={{file}}>
            <button id = delete_file name=delete_file value={{file}}>X</button> 
          </form>
        </li>
        {%endfor %}
      </ul>
    </div>



    <div id="ts-column-list">
      {% if session.dataset%}
      <h3>{{session.dataset}}</h3>
      {% else %}
      <h3> columns</h3>
      {% endif %}
      {% if session.ts_columns%}
      <ul>
      {%for column in session.ts_columns%}
      <li>  
        {{column}}
      </li>
      {%endfor%}
      </ul>
      {% endif %}
    </div>
</div>

<div class="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>