{% extends "base_sidebar.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/display_ts.css')}}">
{% endblock %}


{% block content %}

<div id="user-input">
  <form method="post">

  <label for="tperiod">Period</label>
  <input type=text id=tperiod name=period placeholder="Date">

  <label for="tcolumn">Column</label>
  <input type=text id=tcolumn name=column placeholder="IPG2211A2N">

  <label for="tdataset">Dataset</label>
  <input type=text id = "tdataset", name=dataset placeholder="Electric_Production">

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <ul>
    {% for message in errors %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <input type=submit name=draw_tsImage value=Upload>

</form>
</div>

<div class="ts-image">
  {%if session.ts_image %}
    <img id="picture" src="data:image/jpeg;base64,{{ session.ts_image}}">
  {% endif %}
</div>

<div class="calculations_placeholder">
<div class = "calculations">
  <p> Minimum</p>
  <p> Maximum</p>
  <p> Average</p>
</div>
{%if session.min_max_avg%}
  <div class="descr_numbers">
    {% for number in session.min_max_avg %}
      <p> {{number}}</p>
    {%endfor%}
  </div>
  {% endif %}
</div>
{% endblock %}