body{
    background-color: #FDF7E4;
    width: 100%;
    height: 100%;
}


/* Style the submit button */
input[type=submit], input[type=file] {
    max-width: 100%;
    background-color: #BBAB8C;
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input:hover{
    background-color: #FAEED1;

}

.top{
    background-color: #BBAB8C;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    right: 0px;
}

.side-bar{
    background-color: #DED0B6;
    position: absolute;
    height: 90%;
    width:12%;
    top: 10%;
    left: 0%;
    text-align: center;
    overflow:hidden;

}


#data-directory-list{
    position:absolute;
    width:100%;
    height:50%;
}

#data-directory-list li{
    list-style-type: none;
    display: inline-block;

}

#file_list_and_delete{
    position:absolute;
    width:100%;
    height:5%;
    left:0%;
    display:flex;

}

#file_display{
    position:relative;
    left:0%;
    width:90%;
}

#delete_file{
    position:relative;
    color:red;
    width:10%;   
}

#ts-column-list{
    position:absolute;
    top:50%;
    width:100%;
    height:100%;

}

#ts-column-list ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow:auto

}

#ts-column-list li{
    background-color: #BBAB8C;
    color: black;
    padding: 14px 20px;
    border: solid 1px;
    text-align:center;
}

#ts-column-list h3{
    max-width:100%;
}

.content{
    position:absolute;
    top: 15%;
    left: 15%;
    width: 80%;
    height: 80%;
    border:solid
}

#navbar-ul{
    list-style-type: none;
    position: absolute;
    left: 5%;
    padding-left:0px;


}

.navbar-li{
    float: left;
}

.navbar-a{
    display: block;
    padding: 8px;
    background-color: #FAEED1;
    text-decoration: none;
}

.navbar-a:hover{
    background-color: #FDF7E4;
}

.error_message{
    color: red;
}