.content{
    position:absolute;
    top: 15%;
    left: 15%;
    width: 80%;
    height: 80%;
    border:solid
}


#data-directory-list{
    position:absolute;
    width:100%;
    height:50%;
}

#data-directory-list ul{
    padding: 0;


}

#data-directory-list li{
    position:relative;
    width:100%;
    height:8%;
    list-style-type: none;
    display: inline-block;
}



#file_list_and_delete{
    position:absolute;
    right:0%;
    left:0%;
    display:grid;

}

#file_display{
    position:absolute;
    left:0%;
    width:90%;
    padding:0px;
    background-color:#BBAB8C;
    cursor: pointer;

}


#file_display:hover{
  background-color: #FAEED1;

}

#delete_file{
    position:relative;
    background-color:red;
    right:0%;
    left:90%;
    cursor: pointer;
}

#delete_file:hover{
    background-color: #FAEED1;
  
  }

#ts-column-list{
    position:absolute;
    top:50%;
    width:100%;
    height:100%;

}

#ts-column-list ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow:auto

}

#ts-column-list li{
    background-color: #BBAB8C;
    color: black;
    border: solid 1px;
    text-align:center;
}

#ts-column-list h3{
    max-width:100%;
}

