
.user-input{
    position:absolute;
    top:10%;
    left:5%;
    width: 25%;
    height: 40%;
    display: grid;
}

.label_input input[type="text"]{
    position:relative;
    width:100%;
    margin:5px;
}


.calculations_placeholder{
    position:absolute;
    display:flex;
    width:30%;
    height:20%;
    top:45%;
    left:5%;
}

.calculations{
    position:relative;
    width:30%;

}
.descr_numbers{
    position:relative;
    width:50%;
}
  
.ts-image{
    position: absolute;
    left:33%;
    top:10%;
    width: 65%;
    height: 70%;
    border: solid
}

.ts-image img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit: fill;

}



