body{
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
  }


/* Style the submit button */
.standard_input {
    background-color: #ED693C;
    border: none;
    color: black;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }

input:hover{
    background-color: #F0F0F0;

}

.top{
    background-color: #ED693C;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    right: 0px;
}

.side-bar{
    background-color: #fabeb9;
    position: absolute;
    height: 90%;
    width:12%;
    top: 10%;
    left: 0%;
    text-align: center;
    overflow:hidden;

}

#navbar-ul{
    list-style-type: none;
    position: absolute;
    left: 5%;
    padding-left:0px;


}

.navbar-li{
    float: left;
}

.navbar-a{
    display: block;
    padding: 8px;
    background-color: #ED693C;
    text-decoration: none;
}

.navbar-a:hover{
    background-color: #F0F0F0;
}


.error_message_list{
    position:relative;
    border:solid 1px #ED693C;
    background-color: #676767;
    color:white;
    border-radius: 15px;
    z-index:1;
    display:block;
    list-style-type: none;
    margin:0px;
    padding:0px;
}

.error_message_list li{
    text-align:center
    margin:0px;
    padding:0px;
}


.tooltip_time_column{
    display:none;
}

.time_column_selection:hover .tooltip_time_column{
    position:fixed;
    border:solid 1px #ED693C;
    background-color: #676767;
    color:white;
    border-radius: 15px;
    z-index:1;
    display:block;
}

.tooltip_period{
    display:none;
}

.period_selection:hover  .tooltip_period{
    position:fixed;
    border:solid 1px #ED693C;
    background-color: #676767;
    color:white;
    border-radius: 15px;
    z-index:1;
    display:block;
}

.tooltip_column{
    display:none;
}

.column_selection:hover .tooltip_column{
    position:fixed;
    border:solid 1px #ED693C;
    background-color: #676767;
    color:white;
    border-radius: 15px;
    z-index:1;
    display:block;
}

.multiline_text{
    white-space: pre-wrap;

}


  
  