/* Divines the switch between trend and seasonality page. */

.choice_list{
    position:relative;
    height:7%;
    width:30%;
    top:5%;
    left:2%;
}

.choice{
    list-style-type: None;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.link_button{
    position:relative;
    width:100%;
    height:100%;
    display:inline-block;
    overflow:hidden;
}

.choice > *{
    width:50%;
    height:100%;
}

/* Home page trend calculations 

trend & stat test explanation --> Explanation test
trend_buttons_holder --> holds the buttons that open the trend calculations dialogue

*/

.explanation_button_holder{
    position:relative;
    top:5%;
    width:100%;
    height:80%;
    display:flex;
    flex-direction:row;

}

.explanation{
    position:relative;
    top:5%;
    left:5%;
    width:45%;
    height:100%;
    overflow:auto;
}

.dialogue_buttons_holder{
    position:relative;
    top:5%;
    left:10%;
    width:30%;
    display:block;
    justify-content: center;

}

#trend_buttons_holder > *{
    margin-bottom:3%;
}


/* Statistical test if there is trend in the dataset dialogue */

.dialogue-element-sequencing{
    width:96%;
    height: 98%;
    left:2%;
    top:1%;
}


.statistical_test{
    position:relative;
    width:100%;
    height:30%;
}

.statistical_form{
    position:relative;
    width:100%;
    height:100%;
    display:grid;
    justify-content: center;
}


.form_input{
    margin:0px;
    padding:0px;
    list-style-type: none;
    display: block;
}

.form_label{
    text-align:center;
    display: block;
    margin-bottom: 3%;
}


.pvalue_calculation_error{
    position:relative;
    width:80%;
    height:30%;
}

.sequecing_answers{
    position:relative;
    left:10%;
    width:80%;
    height:20%;
    text-align:center;
}



/* draw trend residuals answer */
#draw_residuals{
    position:relative;
    top: 5%;
    left:2%;
    width: 20%;
    height:50%;
}


.residual_interaction{
    position:relative;
    width:75%;
    heigth:

}

#image_form_holder{
    position:relative;
    width:100%;
    height:50%;
    display:flex;
    flex-direction:row;
}


#residuals_trend_div
{
    position:relative;
    left:2%;
    width:100%;
    height:100%;
}

#draw_image_button{
    display:block;
}

#plot_trend_residual_error{
    left:20%;
    width:60%;
    height:40%;
    
}

#image_trendresidual_save_form{
    top:20%;
    left:20%;
    width:60%;
    height:50%;
}

#save_residual_image_error{
    left:0%;
    width:100%;
    height:50%;
    overflow:auto;

    
}