.calculation_holder {
    position: absolute;
    display: inline-block;
    border: solid 1px;
    left: 5%;
    top: 5%;
    width: 30%;
    height: 90%;
}

.trend_seasonaltiy_choice {
    position: relative;
    height: 5%;
}

#pvalue.multiline_text {
    position: relative;
    height: 50%;
    overflow: auto;
    white-space: pre-wrap;

}

.p_value_calculation {
    position: relative;
    height: 40%;
    width: 100%;
    top: 5%;
    display: inline-block;
}

.user_input {
    position: relative;
    width: 40%;
    height: 80%;
    display: inline-block;

}

#function {
    position: relative;
    width: 100%;
}

.needs_tooltip>input {
    position: relative;
    width: 100%;
}

.trend_options {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 0%;
    display: inline-block;
}

.trend_options>ul {
    position: relative;
    width: 100%;

}

#function {
    position: relative;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.calculate_p_button {
    position: relative;
    width: 20%;
    left: 40%;
}

#calculate_p {
    position: relative;
    width: 100%;
}

.ts-image {
    position: relative;
    width: 50%;
    height: 70%;
    top: 5%;
    left: 40%;
    border: solid
}

.ts-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;

}