.choice_list{
    position:relative;
    top:5%;
    left:4%;
    width:45%;
    height:10%;
}

.choice{
    position:relative;
    list-style-type: None;
    width:100%;
    height:100%;
    left:3%;
    margin:0px;
    padding:0px;
}
#seasonality_form{
    position:relative;
    width:100%;
    height:35%;
}

#user_input{
    position:relative;
    top:2%;
    left:5%;
    width:60%;
}

#user_input > *{
    display:block;
    margin:3%;
}

#season_functions{
    position:relative;
    width:40%;
    float:right;
}

#season_functions > *{
    list-style-type: None;
    display:block;
    margin:0px;
    padding:0px;
}

#seasonality_text{
    position:relative;
}

#seasonality_answers{
    display:none;
}
