.choice_list{
    position:relative;
    height:7%;
    width:30%;
    top:5%;
    left:2%;
}

.choice{
    list-style-type: None;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.link_button{
    position:relative;
    width:100%;
    height:100%;
    display:inline-block;
    overflow:hidden;
}
.choice > *{
    width:50%;
    height:100%;
}

#trend_explanation_button_holder{
    position:relative;
    top:5%;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;

}

.pvalue_explanation_answers{
    position:relative;
    top:5%;
    left:5%;
    width:45%;
    height:100%;
    overflow:auto;
}

#trend_buttons_holder{
    position:relative;
    top:5%;
    left:10%;
    width:30%;
    display:block;
}

#trend_buttons_holder > *{
    margin-bottom:3%;
}

#stattest_trend_dialogue{
    width:96%;
    height: 98%;
    left:2%;
    top:1%;
}

#statistical_trend_test{
    position:relative;
    width:100%;
    height:30%;
}

#statistical_trend_form{
    position:relative;
    width:100%;
    height:100%;
}

#statistical_trend_form > * {
    margin:auto;
    display: block;
    text-align:center;
}
.form_input{
    margin:0px;
    padding:0px;
    list-style-type: none;
}

.form_label{
    text-align:center;
    display: block;
    margin-bottom: 5%;
}


#trend_calculation_error{
    position:relative;
    width:80%;
    height:30%;
}

#error_trend_calculation_message{
    text-align:center
}

#trend_answers{
    position:relative;
    left:10%;
    width:80%;
    height:20%;
    text-align:center;
}
#draw_residuals{
    position:relative;
    top: 5%;
    left:2%;
    width: 20%;
    height:50%;
}



#draw_residuals_dialogue{
    width:96%;
    height: 98%;
    left:2%;
    top:1%;
}

#image_form_holder{
    position:relative;
    width:100%;
    height:50%;
    display:flex;
    flex-direction:row;
}


#residuals_trend_div
{
    position:relative;
    left:2%;
    width:80%;
}

#draw_image_button{
    display:block;
}

#plot_trend_residual_error{
    left:20%;
    width:60%;
    height:40%;
    
}

#image_trendresidual_save_form{
    left:20%;
    width:60%;
    height:40%;
}
