.user-input {
    position: relative;
    width: 25%;
    height: 40%;
    top: 10%;
    left: 5%;
    display: inline-block;
}

.label_input input[type="text"] {
    position: relative;
    width: 100%;
    margin: 5px;
}

.ts-image {
    position: relative;
    width: 63%;
    height: 70%;
    top: -30%;
    left: 35%;
    border: solid
}

.ts-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.save-and-upload-image{
    position:relative;
    width: 25%;
    left:5%;
    top:-50%;
}
