.choice_list {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    height: 7%;
    width: 30%;
    top: 2%;
    left: 2%;
}

.choice {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.link_button {
    position: relative;
    width:50%;
    height:100%;
    flex: 1
}

.link_button > a{
    position: relative;
    width:100%;
    height:100%;
    display:inline-block;
    padding:0px;
}

.explanation_button_holder {
    position: relative;
    left: 2%;
    top:2%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.explanation {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dialogue_buttons_holder {
    position: relative;
    width: 50%;
    height:10%;
    display: flex;
    flex-direction: row; /* Stack items vertically */
}

#trend_buttons_holder > * {
    margin-bottom: 3%;
}



/*autocorrelation elements*/
.autocorrelation_holder {
    position: relative;
    width: 100%;
    height: 40%;
    border: solid 1px black;
    display: flex;
    flex-flow: row;
}

.autocorrelation{
    position:relative;
    width:50%;
    height:100%;
    border: solid 1px black;
}



.dialogue-element-sequencing {
    flex-flow: row wrap;
    align-content: flex-start;
}

.statistical_test {
    position: relative;
    width: 40%;
    height: 80%;
}

.statistical_form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}


.sequecing_answers {
    position: relative;
    left: 5%;
    width: 50%;
    height: 80%;
}


#calculate_trend{
    margin-top:2%;
}
#draw_residuals {
    position: relative;
    top: 5%;
    left: 10%;
    width: 50%;
    height: 50%;
}


#make_csv_residuals_form{
    position: relative;
    width:100%;
    height:100%;
    display:flex;
    flex-flow: row wrap;

}

.form_label {
    margin: 0;
    padding: 0;
    color: #ED693C;
    font-weight: bold;
    width: 30%;
    height: 10%;
    float: left;
}

.form_input {
    position: relative;
    padding:0px;
    margin:0px;
    width: 65%;
    height: 10%;
    margin-bottom: 5%;
    box-shadow: 3px 3px 5px grey;
    list-style-type: none;
}

#trend_file_made_feedback_text{

}


#function{
    height:30%;
}


.stattest_button {
    position: relative;
    left: 20%;
    width: 60%;
    height: 20%;
}