

.content{
    flex-direction:column
}

.explanation {
    position: relative;
    width: 80%;
    height: 200px;
    overflow: auto;
}

.explanation > p {
    position: relative;
    word-wrap: break-word;
    width: 100%;
    margin:2px;
}
.dialogue_buttons_holder {
    position: relative;
    width: 50%;
    height: 10%;
    flex-flow: row wrap;
}


#trend_buttons_holder > * {
    margin-bottom: 3%;
}


/*autocorrelation elements*/
.autocorrelation_holder {
    position: relative;
    width: 80%;
    height: 350px;
    border: solid 1px black;
    flex-flow: row wrap;
}

.autocorrelation{
    position:relative;
    width:50%;
    height:100%;
    border: solid 1px black;
}

.standard_table {
    position:relative;
    border-collapse: collapse;
    left:10%;
    height:100%;
    width:80%;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
    .standard_table tbody tr {
        border-bottom: 1px solid #dddddd;
    }


.dialogue-element-sequencing {
    flex-flow: row wrap;
    align-content: flex-start;
}

.statistical_test {
    position: relative;
    width: 40%;
    height: 80%;
}

.statistical_form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}


.sequecing_answers {
    position: relative;
    left: 5%;
    width: 50%;
    height: 80%;
}


#calculate_trend{
    margin-top:2%;
}
#draw_residuals {
    position: relative;
    top: 5%;
    left: 10%;
    width: 50%;
    height: 50%;
}


#make_csv_residuals_form{
    position: relative;
    width:100%;
    height:100%;
    display:flex;
    flex-flow: row wrap;

}



#function{
    height:30%;
}


.stattest_button {
    position: relative;
    left: 20%;
    width: 60%;
    height: 20%;
}