<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('sidebar_bp.static',filename='styles/base_sidebar.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/standards.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{url_for('sidebar_bp.static',filename='scripts/sidebar.js')}}" defer></script>
  <script src="{{url_for('static',filename='scripts/components.js')}}"></script>

  {% block head %}
  {% endblock %}
</head>

<body >
  <div class="top">
    <ul class="navbar-ul">
      <li class="navbar-li"><a class="button_standard" href="/home">Home</a></li>
      <li class="navbar-li"><a class="button_standard" href="/display_ts">Display TS</a></li>
      <li class="navbar-li"><a class="button_standard" href="/trend">Calculations</a></li>
    </ul>
    {% if current_user.is_authenticated %}
    <ul class="navbar-ul" id="navbar-settings">
      <li class="navbar-settings-li"><a class="button_standard" href="/logout">log out</a></li>
      <li class="navbar-settings-li"><a class = button_standard href="/settings">{{current_user.username}}</a></li>
      <li class="navbar-settings-li"><button class="button_standard" onclick="show_upload()">Upload data</button>
    </li>
    </ul>
    {%endif%}
  </div>



  <div class=side-bar>

    <div id="data-directory-list">
      <h3> Datasets </h3>
      <ul id="csv_list_ul">

      </ul>
    </div>



    <div id="ts-column-list">
      <h3 id="column title"> </h3>
      <ul id="column_list_ul">

      </ul>
    </div>
  </div>

  <div class="content">


    <dialogue-element class="dialogue-element" id="upload_csv_dialogue" dialogue_name="Upload Dataset">
      <p id="upload_explanation"> From this dialogue you can upload csv files. Be aware that the time element of your data should be called "Date"</p>
      <form id="upload_form" method=post  enctype="multipart/form-data">
        {{upload_form.csrf_token (id_="csv_upload_csfr")}}
        {{upload_form.file (class_="button_standard") }}
        {{upload_form.submit (id_="csv_upload", class_="button_standard")}}
      </form>
    </dialogue-element>

    {% block content %}
    {% endblock %}
  </div>
</body>

</html>