{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('login.static',filename='styles/home.css')}}">


{% endblock %}

{% block content %}
<h1 id="username">Hi, {{ current_user.username }}!</h1>

<div class="text_box" id="introduction_text">
    <p>
        This web application is built to help people understand time series data.
        All functions in this web application work with CSV files that include a time column named "Date."
        Be aware that all functions will not work unless the data is provided in this format.
    </p>
    <p>
        Click on the 'Display ts' button to plot your data.
        On this page, you can also find a link to the page that shows all the images you have created.
        On the calculation page, you can analyze the trend and seasonality of your dataset and examine the behavior of the residuals after removing the trend or seasonality.
        Feel free to leave suggestions for improvements on the GitHub page of this project.
    </p>
</div>

<dialogue-element class="dialogue-element" id="upload_csv_dialogue" dialogue_name="Upload Dataset">
    <p id="upload_explanation"> From this dialogue you can upload csv files. Be aware that the time column of your data should be called "Date"</p>
    <form id="upload_form" method=post enctype="multipart/form-data">
        {{upload_form.csrf_token (id_="csv_upload_csfr")}}
        {{upload_form.file (class_="button_standard") }}
        {{upload_form.submit (id_="csv_upload", class_="button_standard")}}
    </form>
    <p id="save_dataset_feedback"></p>

</dialogue-element>

{% endblock %}