{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('login.static',filename='styles/authentication.css')}}">
{% endblock %}

{% block content %}
<div class="flex" id="sign_in_form_container">
    <h1>Sign In</h1>
    <form action="" method="post" novalidate id="sign_in_form">
        {{ form.hidden_tag() }}
        {{ form.username.label }} <br>
        {{ form.username(size=32) }} <br>
        {{ form.password.label }} <br>
        {{ form.password(size=32) }} <br>
        {{ form.remember_me() }} {{ form.remember_me.label }}
        {{ form.submit (class_="button_standard") }}
        <button name="register" class="button_standard">Register</button>    
   </form>
</div>
{% endblock %}