{% extends "base_sidebar.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('image.static',filename='styles/display_ts.css')}}">
<script src="{{url_for('image.static',filename='scripts/image_handeling.js')}}"></script>

{% endblock %}


{% block content %}

    <div class="choice_list">
        <ul class="choice">
            <li class="navbar-li"><a class="button_standard" href="/display_ts">Make image</a></li>
            <li class="navbar-li"><a class="button_standard" href="/display_ts_list">Show List</a></li>
        </ul>
    </div>

<form id= image_draw_form method="POST">
    <div class=user-input>
        <h3> Make Image </h3>
        {{ form.csrf_token }}
        {{form.column_intrest.label (class_="form_label")}}
        {{form.column_intrest (class_="form_input")}}
        {{form.submit (class_="button_standard")}}

    </div>

    <div id="image_plot_options">
        <h3> Plot options</h3>
        {{form.xlabel.label (class_="form_label")}}
        {{form.xlabel (class_="form_input")}}
        {{form.ylabel.label (class_="form_label")}}
        {{form.ylabel (class_="form_input")}}
        {{form.line_color.label (class_="form_label")}}
        {{form.line_color (class_="form_input")}}
    </div>


    <div class="ts-image" id="image_div">
    </div>

</form>
<button class="button_standard" id="save_image_dialogue_button" onclick="show_save_dialogue()">Save image</button>



<dialogue-element class="dialogue-element" id="image_save_form" dialogue_name="Save Image">
    <form id=save_form method="POST">
        {{ form_image.csrf_token }}
        {{ form_image.imageName }}
        {{form_image.save (class_="button_standard")}}
    </form>
    <error-dialogue class="dialogue-element" id="save_image_error" dialogue_name="Error">
    </error-dialogue>
    
  </dialogue-element>



<error-dialogue class="dialogue-element" id="image_error" dialogue_name="image plot error">
</dialogue-element>





{% endblock %}