{% extends "base_sidebar.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('image.static',filename='styles/display_ts.css')}}">
<script src="{{url_for('image.static',filename='scripts/image_handeling.js')}}"></script>

{% endblock %}


{% block content %}

    <div class="choice_list">
        <ul class="choice">
            <li class="navbar-li"><a class="navbar-a" href="/display_ts">Make image</a></li>
            <li class="navbar-li"><a class="navbar-a" href="/display_ts_list">Show List</a></li>
        </ul>
    </div>

<div class=user-input>
<form method="GET">
    <label for="columns">Variables</label>
    <select id="columns">
    </select>
    <label for="time_columns">time_variables</label>
    <select id="time_columns">
    </select>
</form>

</div>

<div class="ts-image" id="image_div">
</div>



</div>


{% endblock %}