{% extends "base_sidebar.html" %}


{% block head %}
<link rel="stylesheet" href="{{url_for('image.static',filename='styles/display_ts_images.css')}}">
<script src="{{url_for('image.static',filename='scripts/display_images_handeling.js')}}"></script>


{% endblock %}


{% block content %}
<div id="image-list">
    <error-dialogue class="dialogue-element hidden" id="display_images_error" dialogue_name="Error" delete_function =delete_dialogue(this) message_id="error_text_load_images">
    </error-dialogue>
    <ul id="saved_images">

    </ul>
</div>

{% endblock %}