{% extends "base_sidebar.html" %}


{% block head %}
<link rel="stylesheet" href="{{url_for('image.static',filename='styles/display_ts_images.css')}}">
<script src="{{url_for('image.static',filename='scripts/image_list.js')}}"></script>

{% endblock %}


{% block content %}

<div class="choice_list">
    <ul class="choice">
        <li class="navbar-li"><a class="navbar-a" href="/display_ts">Make image</a></li>
        <li class="navbar-li"><a class="navbar-a" href="/display_ts_list">Show List</a></li>
    </ul>
</div>

<div id="image-list">
    <ul id="saved_images">

    </ul>
</div>




{% endblock %}