{% extends "base_sidebar.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('sequencing_bp.static',filename='styles/sequencing_trend.css')}}">
<script src="{{url_for('sequencing_bp.static',filename='scripts/sequencing.js')}}"></script>

{% endblock %}

{%block content%}

<div class="choice_list">
    <ul class="choice">
        <li class="navbar-li"><a class="button_standard" href="/trend">Trend</a></li>
        <li class="navbar-li"><a class="button_standard" href="/seasonality">Seasonality</a></li>
    </ul>
</div>




  <form class="p_value_calculation" id="trend_form" method="post">
    {{ form.csrf_token}}
    <div id="form_function">
      {{form.function}}
    </div>
    <div id = "form_values">
    {{form.dataset}}
    {{form.column_intrest}}
    {{form.submit (class_="button_standard")}}
    </div>

  </form>


  <div id="calculated_value_trend">

  </div>


{%endblock%}



