{% extends "base_sidebar.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('sequencing_bp.static',filename='styles/sequencing.css')}}">
<script src="{{url_for('sequencing_bp.static',filename='scripts/sequencing.js')}}"></script>

{% endblock %}

{%block content%}

<div class="choice_list">
    <ul class="choice">
        <li class="navbar-li"><a class="button_standard link_button" href="/trend">Trend</a></li>
        <li class="navbar-li"><a class="button_standard link_button" href="/seasonality">Seasonality</a></li>
    </ul>
</div>

<dialogue-element class="dialogue-element dialogue-element-sequencing" id="stattest_trend_dialogue" dialogue_name="Trend P test">
<div class=statistical_test id="statistical_trend_test">
  <form  class="statistical_form" id="statistical_trend_form">
      {{ form.csrf_token}}
      {{form.function.label  (class_="form_label")}}
      {{form.function (class_="form_input error_unclickable")}}
      {{form.column_intrest.label  (class_="form_label")}}
      {{form.column_intrest (class_="form_input error_unclickable")}}
      {{form.submit (class_="button_standard error_unclickable")}}
  </form>
</div>
<div class=sequecing_answers id="trend_answers">
  <p >Your p value of your statistical trend test is: <var id="trend_value">Not yet defined</var></p>
  <p> Therefore we can say the following over your hypotheses: <var id="hypothese_trend">Not yet defined</var></p>
</div>
<error-dialogue class="dialogue-element pvalue_calculation_error" id="trend_calculation_error" dialogue_name="Error with calculating p value">
</error-dialogue>
</dialogue-element>


<div class="explanation_button_holder" id="trend_explanation_button_holder">

<div class="explanation">
    <p>
      The form found above this text aims to calculate if there is a trend in the time series. 
      A trend indicates the long-term change in the variable of a time series. 
      All statistical trend functions calculate how likely it is that the trend is present due to some random process. 
      This likelihood is expressed as a percentage called the p-value. 
      For example, if the p-value is 10%, then there is a 10% chance that the trend observed in the time series is due to randomness
      Normally in statistical test we define two hypotheses. Hypotheses 0 is that there is no trend in the time series while Hypotheses 1 is that there is trend in the time-series.
    </p>
</div>

<div class="dialogue_buttons_holder" id="trend_buttons_holder">
  <button class="button_standard" id="statest_trend_button" onclick="show_dialogue('stattest_trend_dialogue', 'true')">Calculate p value</button>
  <button class="button_standard" id="plot_trend_residuals_button" onclick="show_dialogue('draw_residuals_dialogue', 'true')">Plot Trend Residuals</button>
</div>

</div>
</dialogue-element>

<dialogue-element class="dialogue-element dialogue-element-sequencing" id="draw_residuals_dialogue" dialogue_name="Draw Residual plot">
<div id= "image_form_holder">
<div id="draw_residuals">
<form  id="draw_residul_form">
  {{draw_residuals_form.csrf_token}}
  {{draw_residuals_form.column_intrest.label  (class_="form_label")}}
  {{draw_residuals_form.column_intrest ( class_="form_input error_unclickable")}}
  {{draw_residuals_form.xlabel.label  (class_="form_label")}}
  {{draw_residuals_form.xlabel (class_="form_input error_unclickable")}}
  {{draw_residuals_form.ylabel.label  (class_="form_label")}}
  {{draw_residuals_form.ylabel (class_="form_input error_unclickable")}}
  {{draw_residuals_form.line_color.label  (class_="form_label")}}
  {{draw_residuals_form.line_color (class_="form_input error_unclickable")}}
  {{draw_residuals_form.submit (class_="button_standard error_unclickable")}}
</form>
</div>



<div class="residual_interaction invinsible" id="save_image_trend">
<div class="ts-image" id="residuals_trend_div">
</div>

<button class="button_standard invinsible_button" id="save_residual_image_dialogue_button" onclick="show_dialogue('image_trendresidual_save_form')">Save image</button>
<button class="button_standard invinsible_button" id="add_residuals_to_dataset" onclick="save_residuals();return false;">Add residuals to csv</button>
</div>
</div>


<error-dialogue class="dialogue-element" id="plot_trend_residual_error" dialogue_name="Error">
</error-dialogue>

<dialogue-element class="dialogue-element" id="image_trendresidual_save_form" dialogue_name="Plot Residuals">
  <form id=save_residual_image_form method="POST">
    {{ residual_save_form.csrf_token }}
    {{ residual_save_form.imageName }}
    {{residual_save_form.save (class_="button_standard")}}
  </form>
  <p id="resimg_save_result_feedback"></p>
  <error-dialogue class="dialogue-element" id="save_residual_image_error" dialogue_name="Error">
  </error-dialogue>

</dialogue-element>


{%endblock%}



