{% extends "base_sidebar.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('sequencing_bp.static',filename='styles/sequencing_seasonality.css')}}">
{% endblock %}

{%block content%}

<div class="choice_list">
  <ul class="choice">
      <li class="navbar-li"><a class="button_standard" href="/trend">Trend</a></li>
      <li class="navbar-li"><a class="button_standard" href="/seasonality">Seasonality</a></li>
  </ul>
</div>

  <form class="p_value_calculation" method="post">
    {{ form.csrf_token}}
    {{form.dataset}}
    {{form.period_choices}}
    {{form.time_column}}
    {{form.column_intrest}}
    {{form.function}}
    {{form.submit}}

    </div>

    
</div>



{%endblock%}