{% extends "base_sidebar.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('sequencing_bp.static',filename='styles/sequencing.css')}}">
{% endblock %}

{%block content%}
<div class="calculation_holder">
  <div class="trend_seasonaltiy_choice">
    <form method="post">
      <input class="standard_input" type=submit name=non_stationary value=Trend>
      <input class="standard_input" type=submit name=non_stationary value=Seasonality>
    </form>
  </div>

  {% if session.non_stationary == "Trend"%}
  {{ form2.csrf_token}}

  <div class="multiline_text" id="pvalue">
H<sub>0</sub>:There is no trend
H<sub>1</sub>:There is trend
We compare the p value against are chosen threshold value a, which in this case is 0.05.
The p-value indicates how much chance there is that the trend is due to a random process.
    {%if session.p_trend is defined%}
    {% if not session.p_trend is number %}
The return variable is not an integer, something went wrong.
    {%elif session.p_trend > 0.05%}
The P value is: {{ session.p_trend }}
H<sub>0</sub> not rejected
    {% else %}
The P value is: {{ session.p_trend }}
H<sub>0</sub> is rejected
    {% endif %}
    {% else %}
No calculations were made yet
    {% endif %}
  </div>



  <form class="p_value_calculation" method="post">
    <div class="user_input">
      <label for="tcolumn">Column</label>
      <div class=needs_tooltip>
        {{form2.column_intrest}}
        <div class="tooltip_selection">
          Select the column that holds the values of the variable you are interested in.
        </div>
      </div>
    </div>

    <div class="trend_options">
      {{form2.function}}
    </div>
    <div>
      {%if session.dataset%}

      {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
      <ul class="error_message_list">
        {% for message in errors %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {%else %}
      <ul class="error_message_list">
        <li>You first have to select a dataset</li>
      </ul>
      {% endif %}

    </div>
    {%if session.dataset%}
    <div class="calculate_p_button">
      <button class="standard_input" type=submit id=calculate_p name=calculate_trend
        value=calculate_trend>Calculate</button>
    </div>
    {% endif %}
  </form>
  {%endif %}


  {% if session.non_stationary == "Seasonality"%}
  <div class="multiline_text" id="pvalue">
    H<sub>0</sub>:There is no Seasonality
    H<sub>1</sub>:There is Seasonality

    We compare the p value against are chosen threshold value a, which in this case is 0.05.
    The p-value indicates how much chance there is that the seasonality is due to a random process.
    {%if session.p_seasonality is defined%}
    The return variable is not an number, something went wrong.
    {%if session.p_seasonality > 0.05%}
    The P value is: {{ session.p_seasonality }}
    H<sub>0</sub> not rejected
    {% else %}
    The P value is: {{ session.p_seasonality }}
    H<sub>0</sub> is rejected
    {% endif %}
    {% else %}
    No calculations were made yet
    {% endif %}
  </div>



  <form class="p_value_calculation" method="post">
    {{ form.csrf_token}}
    <div class="user_input">
      <label for="time_column">Time Column</label>
      <div class=needs_tooltip>
        {{form.time_column}}
        <div class="tooltip_selection">
          Select which column in the data frame is going to be selected as time period.
          It accepts the following format: 1/1/1981
        </div>
      </div>
      <label for="tcolumn">Period</label>
      <div class=needs_tooltip>
        {{form.period}}
        <div class="tooltip_selection">
          Choose to calculate the seasonality from day, month or year
        </div>
      </div>
      <label for="tcolumn">Column</label>
      <div class=needs_tooltip>
        {{form.column_intrest}}
        <div class="tooltip_selection">
          Select the column that holds the values of the variable you are interested in.
        </div>
      </div>


    </div>

    <div class="trend_options">
      {{form.function}}
    </div>
    <div>
      {%if session.dataset%}
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
      <ul class="error_message_list">
        {% for message in errors %}
        <li>Error: {{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {%else %}
      <ul class="error_message_list">
        <li>You first have to select a dataset</li>
      </ul>
      {% endif %}

    </div>
    {%if session.dataset%}
    <div class="calculate_p_button">
      <button class="standard_input" type=submit id=calculate_p name=calculate_seasonality
        value=calculate_seasonality>calculate</button>
    </div>
    {%endif %}
  </form>
  {%endif %}
</div>




<div class="ts-image">
  {%if session.ts_image %}
  <img id="picture" src="data:image/jpeg;base64,{{ session.ts_image}}">
  {% endif %}
</div>
{%endblock%}
