{% extends "base_sidebar.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('sequencing_bp.static',filename='styles/sequencing.css')}}">
<script src="{{url_for('sequencing_bp.static',filename='scripts/sequencing.js')}}"></script>
{% endblock %}

{%block content%}

<div class="choice_list">
  <ul class="choice">
      <li class="navbar-li"><a class="button_standard link_button" href="/trend">Trend</a></li>
      <li class="navbar-li"><a class="button_standard link_button" href="/seasonality">Seasonality</a></li>
  </ul>
</div>

<dialogue-element class="dialogue-element dialogue-element-sequencing" id="stattest_seasonality_dialogue" dialogue_name="Draw Residual plot">
  <div class=statistical_test id="statistical_form">
    <form class="statistical_form" id="seasonality_form" method="post" onsubmit="return false;">
      {{form.csrf_token}}
      {{form.function.label  (class_="form_label")}}
      {{form.function (class_="form_input error_unclickable")}}
      {{form.season_per.label  (class_="form_label")}}
      {{form.season_per (class_="form_input error_unclickable")}}
      {{form.column_intrest.label  (class_="form_label")}}
      {{form.column_intrest (class_="form_input error_unclickable")}}
      {{form.submit (class_="button_standard error_unclickable")}}
  </form>
</div>
<div class=sequecing_answers id="seasonality_answers">
  <p >Your p value of your statistical trend test is: <var id="seasonality_value">Not yet defined</var></p>
  <p> Therefore we can say the following over your hypotheses: <var id="hypothese_seasonality">Not yet defined</var></p>
</div>
<error-dialogue class="dialogue-element pvalue_calculation_error" id="seasonality_calculation_error" dialogue_name="Error with calculating p value" delete_function =delete_dialogue_error(this) message_id="error_seasonality_pvalue">
</error-dialogue>
</dialogue-element>



<div class="explanation_button_holder" id="seasonality_explanation_button_holder">
  <div class="explanation">
    <p>
      Seasonality in a time series is defined as cycles that repeat regularly over time.
      Most computations on time series assume that there is no seasonality in the data. 
      This means that we have to test if seasonality is present in the variable you are interested in. 
      On the left of this text, you see multiple buttons that can show or calculate different things to provide insight into the seasonality. 
      Press the 'Calculate p-value' button to determine if there is seasonality present in a certain column. 
    </p>
  </div>

  <div class="dialogue_buttons_holder" id="seasonality_buttons_holder">
    <button class="button_standard" id="statest_trend_button" onclick="show_dialogue('stattest_seasonality_dialogue', 'true')">Calculate p value</button>
  </div>
</div>


{%endblock%}