<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/standards.css')}}">
    <script src="{{url_for('static',filename='scripts/components.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/standard_functions.js')}}"></script>

    {% block head %}
    {% endblock %}
</head>

<body class="flex">
    <div class="top flex">
        <div class="navbar-links">
            <ul class="navbar-ul flex">
                <li class="navbar-links-element"><a class="button button_standard" href="/home">Home</a></li>
                <li class="navbar-links-element"><a class="button button_standard" href="/display_ts">Make Image</a></li>
                <li class="navbar-links-element"><a class="button button_standard" href="/stationary_ptests">Exploratory analysis</a></liclass="navbar-links-element">
                <li class="navbar-links-element"><a class="button button_standard" href="/decomposition">Decomposition</a></li>
                <li class="navbar-links-element"><a class="button button_standard" href="/display_ts_list">Images</a></li>

            </ul>
        </div>
        {% if current_user.is_authenticated %}
        <div class="navbar-settings">
            <ul class="flex">
                <li class="navbar-settings-element">
                    <button class="button button_standard" id="csv_upload_button" onclick="show_dialogue('upload_csv_dialogue', 'true')">Upload data</button>
                </li>
                <li class="navbar-settings-element"><a class="button button_standard" href="/settings">{{current_user.username}}</a></li>
                <li class="navbar-settings-element"><a class="button button_standard" href="/logout">log out</a></li>
            </ul>
        </div>
        {%else%}
        <div class="navbar-settings">
            <ul class="flex">
                <li class="navbar-settings-element"><a class="button button_standard" href="/register">register</a></li>
                <li class="navbar-settings-element"><a class="button button_standard" href="/">log in</a></li>
            </ul>
        </div>
        {%endif%}
    </div>



    <div class="flex content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>