{% extends "foundation.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/display_ts.css')}}">
{% endblock %}

{% block sidebar %}

<div id="data-directory-list">

<div id="file-list">
  {%if files %}
  <ul>
  {%for file in files%}
    <li>  
      <form method="post">
      <input type=submit name=ts_file value={{file}}>
    </form>
    </li>
  {%endfor %}
  </ul>
  {% endif %}
</div>
</div>

<div id="ts-column-list">
  <h3> DS Columns</h3>
  {%if columns %}
  <ul>
  {%for column in columns%}
  <li>  
    {{column}}
  </li>
  {%endfor%}
  </ul>
  {% endif %}
</div>
{% endblock %}
{% block content %}

<div id="user-input">
  <form method="post">

  <label for="tperiod">Period</label>
  <input type=text id=tperiod name=period placeholder="Date">

  <label for="tcolumn">Column</label>
  <input type=text id=tcolumn name=column placeholder="IPG2211A2N">

  <label for="tdataset">Dataset</label>
  <input type=text id = "tdataset", name=dataset placeholder="Electric_Production.csv">

  <input type=submit name=draw value=Upload>
</form>
</div>

<div class="ts-image">
  {%if img_data %}
  <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
  {% endif %}
</div>
{% endblock %}