body{
    background-color: #FDF7E4;
}

.top{
    background-color: #BBAB8C;
    position: fixed;
    width: 90%;
    height: 10%;
    top: 0;
    right: 0px;
}

.side-bar{
    background-color: #DED0B6;
    position: fixed;
    height: 100%;
    width:10%;
    top: 0;
    left: 0px;
}

.content{
    position:fixed;
    top: 15%;
    left: 15%
}

#navbarUl{
    list-style-type: none;
    position: fixed;
    left: 15%;
    padding-left:0px;


}

.navbarLi{
    float: left;
}

.navbarA{
    display: block;
    padding: 8px;
    background-color: #FAEED1;
    text-decoration: none;
}

.navbarA:hover{
    background-color: #FDF7E4;
}