{% extends "base_sidebar.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('granger_bp.static',filename='styles/granger_calculation.css')}}">
{% endblock %}

{%block content%}
<div class="granger_causality_input">
<form method="POST">
{{ form.csrf_token }}

<div class=needs_tooltip>
    {{ form.column1.label}}
    {{ form.column1}}
    <div class="tooltip_selection">
        Select the column of the variable you are intrested in.
    </div>
</div>
<div class=needs_tooltip>
    {{ form.column2.label}}
    {{ form.column2}}
    <div class="tooltip_selection">
        Select another different column of a variable you think displays Granger causality with the first variable
    </div>
</div>
<div class=needs_tooltip>
    {{ form.lag.label}}
    {{ form.lag}}
    <div class="tooltip_selection">
        Select the maximum lag up too you want to calculate the p value for.
    </div>
</div>
{{form.test_function}}
{%if session.dataset%}
<div id="centered_button">
    {{ form.submit(class_="standard_input")}}
</div>
{%else %}
<ul class="error_message_list">
    <li>You first have to select a dataset</li>
</ul>
{% endif %}
</form>
<div class="error">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <ul class="error_message_list">
        {% for message in errors %}
        <li>Error: {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
</div>




{% if session.p_value_granger%}
<div class="p_value_holder">
    <ul class="p_value_list">
    {%for p_value in session.p_value_granger%}
        <li>
        The p-value for lag {{p_value[0]}} is {{p_value[1]}}
        </li>
    {% endfor%}
    </ul>
</div>


{% endif%}
{%endblock%}