.top {
    position: sticky;
    background-color: var(--main-orange-color);
    top: 0px;
    width: 100%;
    height: 7%;
    flex: 1 1 auto;
    z-index: 1;
    box-shadow: 0 4px 4px hsla(0,0%,55%,.06);
    border-bottom: 1px solid var(--main-orange-border);
}

.content {
    position: relative;
    top:5%;
    left:10%;
    width: 80%;
    height: 90%;
    flex-flow: row wrap;
    flex: 4 4 auto;
    align-content: flex-start;
}

.side-bar {
    position:relative;
    width:10%;
    height:100%;
    flex: 1 2 auto;
}


/* Children of top*/
.navbar-links {
    position: relative;
    left: 20%;
    width: 40%;
    height: 100%;
    display: inline-block
}


.navbar-links> ul {              
    list-style-type:none;
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    justify-content:flex-start;
}

.navbar-links-element {
    position: relative;
    top: 25%;
    height: 50%;
    float: left;
    text-align: center;
    flex: 1;
    overflow:hidden
}

.navbar-links-element > * {
    position: relative;
    display: inline-block;
    height: 100%;
    color:black;
}

.navbar-settings {
    position: relative;
    width: 20%;
    height: 100%;
    margin-left:auto;
}

.navbar-settings > ul{
    list-style-type:none;
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}
.navbar-settings-element {
    position: relative;
    top: 25%;
    height: 50%;
    width: 100px;
    float: right;
    margin: 0px;
    padding: 0px;
    text-align: center;
    flex: 1;
    overflow:hidden

}

.navbar-settings-element > *{
    position:relative;
    display:inline-block;
    width:100%;
    height:100%;
    color:black;

}

/* Children of side-bar*/

.user_selection_holder {
    position: relative;
    flex-flow: row wrap;
    width: 85%;
    height: 100%;
    background-color: var(--main-red-color);
    align-content: flex-start;
}

.data-directory-list {
    position: relative;
    width: 100%;
    height: 50%;
    flex-flow: row wrap;
    align-content: flex-start;
}

.fold-sidebar-button {
    position: relative;
    width: 15%;
    background-color: var(--main-red-color);
}
.sidebar_title {
    position: relative;
    width: 100%;
    heigth:40px;
    overflow: hidden;
}

#show_unshow_sidebar {
    position: relative;
    top: 2%;
    left: -30%;
    height: 2%;
    width: 100%;
    margin-left: auto
}

.csv_title{
    position:relative;
    width:100%;
}
#csv_list_sidebar_ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.csv_file_list_item {
    position: relative;
    width: 100%;
    height: 40px;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

#ts-column-list {
    positon: relative;
    width: 100%;
    flex-flow: row wrap;
}
/* Style csv item list*/
.csv_list_item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 1px black
}

.file_display {
    position: relative;
    width: 80%;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

#delete_file {
    width: 20%;
    height: 100%;
}

.csv_button_text {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 40px;
    text-overflow: ellipsis;
    display: inline-block;
}

#file_display_selected {
    background-color: white;
}


/* handles the list of columns

*/
#column_list_ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#column_list_ul > li{
    position:relative;
    width:100%;
}
.column_display {
    position: relative;
    width: 100%;
}

#column_selected {
    background-color: white;
}
/* upload button

*/
#upload_explanation {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center
}

#upload_form {
    position: relative;
    top: 30%;
    text-align: center;
    width: 100%;
}
