.content {
    position: relative;
    width: 80%;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    flex: 5;
    align-content: flex-start;
}

/*
    style the header

*/
.top {
    position: sticky;
    background-color: #ED693C;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    flex: 1 1 100%;
    z-index: 1;
}

.navbar-links {
    position: relative;
    width: 66.6%;
    height: 100%;
    display: inline-block
}


.navbar-links> ul {              
    list-style-type:none;
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content:flex-start;
}

.navbar-links-element {
    position: relative;
    top: 25%;
    height: 50%;
    float: left;
    text-align: center;
    flex: 1;
}

.navbar-links-element > * {
    position: relative;
    display: inline-block;
    height: 100%;
    color:black;


}

.navbar-settings {
    position: relative;
    float: right;
    width: 33.3%;
    height: 100%;
}

.navbar-settings > ul{
    list-style-type:none;
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.navbar-settings-element {
    position: relative;
    top: 25%;
    height: 50%;
    width: 100px;
    float: right;
    margin: 0px;
    padding: 0px;
    text-align: center;
    flex: 1
}

.navbar-settings-element > *{
    position:relative;
    display:inline-block;
    width:100%;
    height:100%;
    color:black;

}


/* style the sidebar

*/
.side-bar {
    position: sticky;
    height: 100%;
    width: 180px;
    left: 0%;
    background-color: #fabeb9;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

#show_unshow_sidebar {
    position: relative;
    height: 25px;
    width:35px;
}

.data-directory-list {
    position: relative;
    width: 100%;
    height: 70%;
}
#csv_list_sidebar_ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.csv_file_list_item {
    position: relative;
    width: 100%;
    height: 40px;
    margin:0px;
    padding:0px;
    overflow: hidden;
}
/* Style csv item list*/
.csv_list_item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 1px black
}

.file_display {
    position: relative;
    width: 80%;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

#delete_file {
    width: 20%;
    height: 100%;
}

.csv_button_text {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 40px;
    text-overflow: ellipsis;
    display: inline-block;
}

#file_display_selected {
    background-color: white;
}


/* handles the list of columns

*/
#column_list_ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.column_display{
    position:relative;
    width:100%
}

#column_selected {
    background-color: white;
}
/* upload button

*/
#upload_explanation {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center
}

#upload_form {
    position: relative;
    top: 30%;
    text-align: center;
    width: 100%;
}
